<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <groups>
        <run>
            <include name="Smoke"></include>
        </run>
    </groups>

    <listeners>
        <listener class-name="org.stc.utils.Listeners"></listener>
    </listeners>
    
    <test thread-count="5" name="MultiDimention">
        <classes>
            <class name="DataProviderFirst.DataProvider2"/>
        </classes>
    </test>
    
    <test thread-count="5" name="Dataprovider">
        <classes>
            <class name="DataProviderFirst.DataProvider1"/>
        </classes>
    </test>
    
</suite>
